/* 
    Document   : style
    Created on : Sep 11, 2013, 11:27:47 AM
    Author     : Magnet Brains
    Description:
        Purpose of the stylesheet follows.
*/
div.container li {
	float: left;
	width: 46.7%;
        height:32px;
        over-flow:hidden;
	border: 2px solid white;
	font-weight: bold;
	cursor: pointer;
        text-decoration: none;
        display: inline-block;
        -moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #ffffff;
font-size: 20px;
text-align: center;
padding-top:15px;
 font-family: 'Arial';
-moz-box-shadow: inset 0px 1px 0px 0px #a6e1f0;
-webkit-box-shadow: inset 0px 1px 0px 0px #a6e1f0;
box-shadow: inset 0px 1px 0px 0px #a6e1f0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #36c9f2), color-stop(1, #22abea));
background: -moz-linear-gradient(top, #36c9f2 5%, #22abea 100%);
background: -webkit-linear-gradient(top, #36c9f2 5%, #22abea 100%);
background: -o-linear-gradient(top, #36c9f2 5%, #22abea 100%);
background: -ms-linear-gradient(top, #36c9f2 5%, #22abea 100%);
background: linear-gradient(to bottom, #36c9f2 5%, #22abea 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36c9f2', endColorstr='#22abea',GradientType=0);
background-color: #36c9f2;
}
div.container li:hover {
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abea), color-stop(1, #36c9f2));
background: -moz-linear-gradient(top, #22abea 5%, #36c9f2 100%);
background: -webkit-linear-gradient(top, #22abea 5%, #36c9f2 100%);
background: -o-linear-gradient(top, #22abea 5%, #36c9f2 100%);
background: -ms-linear-gradient(top, #22abea 5%, #36c9f2 100%);
background: linear-gradient(to bottom, #22abea 5%, #36c9f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22abea', endColorstr='#36c9f2',GradientType=0);
background-color: #22abea;
}
div.embed_advance_form_division{
    display:none;  
}
div#embed_advance_form_division textarea{
     margin-top: 40px;
    -moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 2px solid #1d97bf;
    width:700px;
    border-radius: 5px;
    text-align: start;
    text-indent: 0px;
}
div#embed_advance_form_division button#embed_code_save{
    webkit-appearance: push-button;
    font-family: 'Georgia';
-moz-box-shadow: inset 0px 1px 0px 0px #a6e1f0;
-webkit-box-shadow: inset 0px 1px 0px 0px #a6e1f0;
box-shadow: inset 0px 1px 0px 0px #a6e1f0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #36c9f2), color-stop(1, #22abea));
background: -moz-linear-gradient(top, #36c9f2 5%, #22abea 100%);
background: -webkit-linear-gradient(top, #36c9f2 5%, #22abea 100%);
background: -o-linear-gradient(top, #36c9f2 5%, #22abea 100%);
background: -ms-linear-gradient(top, #36c9f2 5%, #22abea 100%);
background: linear-gradient(to bottom, #36c9f2 5%, #22abea 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36c9f2', endColorstr='#22abea',GradientType=0);
background-color: #36c9f2;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #1d97bf;
display: inline-block;
color: #ffffff;
font-size: 17px;
padding: 6px 22px;
text-decoration: none;
text-shadow: 0px 1px 0px #404142;
margin-left:610px;
margin-top: 15px;
cursor: pointer;
height:40px;
    width:100px;
}
div#embed_advance_form_division button#embed_code_save:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abea), color-stop(1, #36c9f2));
background: -moz-linear-gradient(top, #22abea 5%, #36c9f2 100%);
background: -webkit-linear-gradient(top, #22abea 5%, #36c9f2 100%);
background: -o-linear-gradient(top, #22abea 5%, #36c9f2 100%);
background: -ms-linear-gradient(top, #22abea 5%, #36c9f2 100%);
background: linear-gradient(to bottom, #22abea 5%, #36c9f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22abea', endColorstr='#36c9f2',GradientType=0);
background-color: #22abea;  
}